@charset "utf-8";
/* CSS Document */
form#survey {
	display: flex;
	flex-flow: row wrap;
	color: #efe1be
}
form#survey > fieldset {
	background-color: #4E2A82;
	border-radius: 20px;
	flex: 1 1 300px;
	font-size: 0.85em;
	padding: 10px;
	margin: 10px;
}
legend {
	background-color: #A61F1B;
	border-radius: 50px;
	color: #ececec;
	padding: 5px;
}
div.formRow {
	display: flex;
	flex-flow: row wrap;
	margin: 7px 0px;
}
div.formRow > * {
	flex: 1 1 150px;
}
div#buttons {
	text-align: center;
	width: 100%;
}
input[type='submit'], input[type='reset'] {
	font-size: 1.2em;
	padding: 5px;
	margin: 15px;
	background-color: #f0ce74;
	color:#4e2a82;
}
input:hover {
	color: #EFE1BE;
	background-color: #6738AD;
	border-color: #EBBF4C;
}
#coaching{
	margin-left: 25%;
	padding-left: 5px;
	padding-right: 5px;
}